<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Listagem de Abastecimentos</h1>

    {% if registros %}
        
        {% for registro in registros %}
            <div>
                <h2>Registro: {{ registro.pk }}</h2>
                <p>Bomba: {{ registro.bomba.nome_bomba }}</p>
                <p>Quantidade abastecido: {{ registro.litros_abastecidos }}</p>
                <p>Valor: R${{ registro.valor }} reais</p>
                <p><strong>Data</strong>: {{ registro.criado }}</p>
            </div>
            
        {% endfor %}
            
    {% endif %}
</body>
</html>